__pycache__
*.exe
*.itermcolors
*.swp
.pytest_cache
.tmux
.Xdefaults
emacs/.emacs.d/*
!emacs/.emacs.d/*.el
emacs/.emacs.d/ez-theme.el
emacs/.emacs.d/ez-dark-theme.el
!emacs/.emacs.d/*.template
!emacs/.emacs.d/init.d
emacs/.emacs.d/init.d/init-local.el
emacs/.emacs.d/custom.el
setup.log
tags
vim/vimfiles/autoload/cquery.vim
vim/vimfiles/plugged
vim/vimfiles/swap
vim/vimfiles/colors/ez.vim
vim/vimfiles/.netrwhist
vscode/ez-theme/themes/*.json
windows/.minttyrc
